/*******************************************************************************
 * Style overrides for distill blog posts.
 ******************************************************************************/

.post.distill {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Wider grid for distill posts: override default narrow column widths */
@media(min-width: 1000px) {
  .post.distill d-title,
  .post.distill d-byline,
  .post.distill d-article {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start] 70px [middle-start] 70px [text-start kicker-end] 70px 70px 70px 70px 70px 70px 70px 70px [text-end gutter-start] 70px [middle-end] 70px [page-end gutter-end] 1fr [screen-end] !important;
    grid-column-gap: 24px !important;
  }
}

@media(min-width: 1300px) {
  .post.distill d-title,
  .post.distill d-byline,
  .post.distill d-article {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start] 90px [middle-start] 90px [text-start kicker-end] 90px 90px 90px 90px 90px 90px 90px 90px [text-end gutter-start] 90px [middle-end] 90px [page-end gutter-end] 1fr [screen-end] !important;
    grid-column-gap: 32px !important;
  }
}

.post.distill d-title,
.post.distill d-byline,
.post.distill d-article {
  font-family: inherit;
}

d-title {
  font-family: inherit;
  h1 {
    font-size: 2.75rem !important;
    margin-bottom: 0.75em !important;
  }
  p {
    font-size: 1rem !important;
    font-style: italic !important;
    color: var(--global-text-color) !important;
    margin-top: 0 !important;
  }
}

d-byline {
  border-top-color: var(--global-divider-color) !important;
  font-family: inherit;
}

d-byline h3 {
  color: var(--global-text-color) !important;
}

d-byline a, d-article d-byline a {
  color: var(--global-text-color) !important;
  &:hover {
    color: var(--global-hover-color) !important;
  }
}

d-article {
  border-top-color: var(--global-divider-color) !important;
  font-family: inherit;
  p, h1, h2, h3, h4, h5, h6, li, table {
    color: var(--global-text-color) !important;
  }
  a {
    color: var(--global-theme-color) !important;
    text-decoration: none;
    border-bottom: 1px solid var(--global-theme-color);
    &:hover {
      color: var(--global-hover-color) !important;
      border-bottom-color: var(--global-hover-color) !important;
    }
  }
  h1, h2, hr, table, table th, table td {
    border-bottom-color: var(--global-divider-color) !important;
  }
  b i {
    display: inline;
  }

  pre, code {
    color: var(--global-code-text-color) !important;
    background-color: var(--global-code-bg-color) !important;
  }

  d-contents {
    align-self: start;
    grid-column: 1 / 4;
    grid-row: auto / span 4;
    justify-self: end;
    margin-top: 0em;
    padding-left: 2em;
    padding-right: 3em;
    border-right: 1px solid var(--global-divider-color);
    width: calc(max(70%, 300px));
    margin-right: 0px;
    margin-top:  0em;
    display: grid;
    grid-template-columns:
      minmax(8px, 1fr) [toc] auto
      minmax(8px, 1fr) [toc-line] 1px
      minmax(32px, 2fr);

    nav {
      grid-column: toc;
      a {
        color: var(--global-theme-color) !important;
        border-bottom: none !important;
        &:hover {
          color: var(--global-hover-color) !important;
          border-bottom: 1px solid var(--global-hover-color) !important;
        }
      }
      h3 {
        margin-top: 0;
        margin-bottom: 1em;
      }
      div {
        display: block;
        outline: none;
        margin-bottom: 0.8em;
        color: rgba(0, 0, 0, 0.8);
        font-weight: bold;
      }
      ul {
        padding-left: 1em;
        margin-top: 0;
        margin-bottom: 6px;
        list-style-type: none;
        li {
          margin-bottom: 0.25em;
        }
      }
    }
    .figcaption {
      line-height: 1.4em;
    }
    toc-line {
      border-right: 1px solid var(--global-divider-color);
      grid-column: toc-line;
    }
  }

  d-footnote {
    scroll-margin-top: 66px;
  }
}

d-appendix {
  border-top-color: var(--global-divider-color) !important;
  color: var(--global-distill-app-color) !important;
  h3, li, span {
    color: var(--global-distill-app-color) !important;
  }
  a, a.footnote-backlink {
    color: var(--global-distill-app-color) !important;
    &:hover {
      color: var(--global-hover-color) !important;
    }
  }
}

@media (max-width: 1024px) {
  d-article {
    d-contents {
      display: block;
      grid-column-start: 2;
      grid-column-end: -2;
      padding-bottom: 0.5em;
      margin-bottom: 1em;
      padding-top: 0.5em;
      width: 100%;
      border: 1px solid var(--global-divider-color);
      nav {
        grid-column: none;
      }
    }
  }
}
