/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Tech-style beige palette (single theme)
$beige-bg:        #f8f5ef !default;
$beige-bg-card:   #fffefb !default;
$beige-text:      #2d2a26 !default;
$beige-text-light:#6b6560 !default;
$beige-divider:   rgba(45, 42, 38, 0.12) !default;
// Accent: deeper teal-green, stands out on beige background
$beige-accent:    #1a5f5f !default;
$beige-accent-hover: #0d4a4a !default;
// Code: warmer tan background, dark text for clear contrast
$beige-code-bg:   #e2dcd2 !default;
$beige-code-text: #2d2a26 !default;

// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;
